.thumbnail a>img, .thumbnail>img{
	height: 150px;
}
.thumbnail a>img.wineCom{
	width: 80px;
	height: 20px;
}
.list-group li .toggle{
	display: none;
}
.list-group li:hover .toggle{
	display: block
}
#searchResults{
	max-height: 250px;
	overflow-y: auto;
}