.red{
	outline: 1px solid red;
}

.container-fluid{
	padding-right: 35px;
	padding-left: 35px;
}

.headline{
	margin-top: 70px;
}

.thumbnail a>img, .thumbnail>img{
	height: 150px;
}
.thumbnail a>img.wineCom{
	width: 80px;
	height: 20px;
}
.list-group li .toggle{
	display: none;
}
.list-group li:hover .toggle{
	cursor: pointer;
	display: block;
	width; 10%;
}

.list-group-item p{
	display: inline-block;
	width: 80%;
}
#searchResults{
	max-height: 250px;
	overflow-y: auto;
}

.navbar-fixed-top{
	padding: 10px;
}