<div class="caption">
	<h3>Search wine</h3>
	
	<div class="input-group">
		<label class="radio-inline">
			<input checked type="radio" name="dataSource"/>Search <img class="wineCom" src="http://cache.wine.com/images/logos/80x20_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" />
		</label>
		<label class="radio-inline">
			<input type="radio" name="dataSource" /><span>Seach APP</span>
		</label>
	</div>
</div>

<div class="col-sm-6 col-md-6">
	<div class="form-group">
		<label for="search">Search:</label>
		<input ng-model="searchQuery" type="text" class="form-control" id="search">
	</div>

	<div class="form-group">
		<button class="pull-right" ng-click="search.searchWine()">Search</button>
	</div>
</div>

<div class="col-sm-6 col-md-6">
	<div class="form-group">
		<label for="searchResults">Results</label>
		<ul id="searchResults" class="list-group">
			<li class="list-group-item">Cras justo odio<span ng-click="search.addWine($event)" class="pull-right toggle" data-label="thing1" data-vineyard="qweqwe" data-percentage="8">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Dapibus ac facilisis in<span ng-click="search.addWine($event)" class="pull-right toggle" data-label="thing2" data-vineyard="eeeeeeewwww" data-percentage="7">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Morbi leo risus<span class="pull-right toggle" data-label="thing3" data-vineyard="qweee" data-percentage="5">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Porta ac consectetur ac<span class="pull-right toggle" data-label="thing4" data-vineyard="qwe" data-percentage="4">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Vestibulum at eros<span class="pull-right toggle">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Cras justo odio<span ng-click="search.addWine($event)" class="pull-right toggle" data-test="thing1">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Dapibus ac facilisis in<span ng-click="search.addWine($event)" class="pull-right toggle" data-test="thing2">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Morbi leo risus<span class="pull-right toggle">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Porta ac consectetur ac<span class="pull-right toggle">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Vestibulum at eros<span class="pull-right toggle">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Cras justo odio<span ng-click="search.addWine($event)" class="pull-right toggle" data-test="thing1">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Dapibus ac facilisis in<span ng-click="search.addWine($event)" class="pull-right toggle" data-test="thing2">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Morbi leo risus<span class="pull-right toggle">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Porta ac consectetur ac<span class="pull-right toggle">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
			<li class="list-group-item">Vestibulum at eros<span class="pull-right toggle">Add<i class="glyphicon glyphicon-menu-right"></i></span></li>
		</ul>
	</div>
	
	<a class="pull-right" href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts"><img class="wineCom" src="http://cache.wine.com/images/logos/80x20_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" /></a>
</div>